body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
  color: #333;
}

button {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0077a8;
}

/* this is the text entry box, where it says e.g. your kidney transplant */
input[type="text"], button[type="button"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}
input[type="text"] {
  width: 40%;
  box-sizing: border-box;
}

#user-output {
  margin-top: 20px;
}

#output {
  margin-top: 20px;
}
